{% extends 'landing/base.html' %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="card card-nav-tabs text-left">
          <div class="card-header card-header-primary">
              {{workout.name}} - {{workout.plan.name}}
          </div>
          <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {% for exercise in workout.sets_set.all %}
                    <h3>{{exercise.exercise}} - {{exercise.sets}} x {{exercise.reps_or_time}}</h3>
                    <div class="form-check">
                      <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" name="set-{{exercise.id}}" value="">
                          Done
                          <span class="form-check-sign">
                              <span class="check"></span>
                          </span>
                      </label>
                    </div>
                <br />
                {% endfor %}
                <input type="submit" class="btn btn-primary" value="Finish Workout">
            </form>
          </div>
        </div>
    </div>
</div>
{% endblock %}